.outset {border-style: outset;}
.button {
	color:#2B303A; font-size: 20px;
}
body {

	background-color: #D2E4C4
}

.jumbotron {
	background-color: #D2E4C4;
}

#category_name {

	color: #818479; font-size: 100px; font-weight: 200
}
.row{
	color: #424F43;
}

