body {
background-color: #B3BFB8;
color: white;
}
#title{color:#2B303A; font-size: 100px; font-family: Georgia, "Times New Roman"; text-decoration: underline;}
.button{color:#2B303A; font-family: Georgia, "Times New Roman"; font-size: 20px}
