
.button {
	color:#2B303A; font-size: 20px;
}

body {

	background-color: #D2E4C4;
}
#category_name {

	color: #818479; font-size: 100px;
}
.jumbotron {
	background-color: #D2E4C4;
}

.article {
	color: #818479; font-size: 50px;
}
