<!DOCTYPE html>
<html>
<head>
	<title>Food</title>
	<link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/food.css') }}">
</head>
<body>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand button" href="{{url_for('home_page')}}">NBNC</a>
		</div>
			<ul class="nav navbar-nav button">
				<li><a href="{{url_for('news' , news_id = 1)}}">News</a></li>
				<li class="active"><a href="{{url_for('food')}}">Food</a></li>
				<li><a href="{{url_for('music')}}">Music</a></li>
			</ul>
		</div>
	</nav>
<div class="jumbotron text-center">


<center><h1 id="category_name">FOOD</h1> <br> <br> <br>


			<form action="{{url_for('food')}}" method="POST">

				<input type="text" name="Name" id="" placeholder="Name" size="25">
				<br> <br>
				<input type="text" name="Ingredients" placeholder="Ingredients" size="25">
				<br> <br>
				<input type="text" name="Steps" placeholder="Steps" size="25">
				<br>
				<br>
				<input type="radio" name="Nationality" value="Palestinian" >Palestinian
				<input type="radio" name="Nationality" value="Israeli">Israeli
				<br>
				<input type="submit" value="Submit" class="xoxo" >
			</form>
		</center>

	<div class="container">
		<div class="row">
			<div class="col-md-6 "><h3 align="center">Palestinian</h3></div>
			<div class="col-md-6 "><h3 align="center">Israeli</h3></div>
		</div>
		<div class="row">
			<div class="col-md-6 ">
			{% for meal in food %}
			{% if meal.nationality == 'Palestinian' %}
			{{ meal.name }}
                        <div class="row">
							<div class="col-md-6" style="border: 1px solid black">

								<center><p>Ingredients</p></center>
							</div>
							<div class="col-md-6" style="border: 1px solid black">
								<center><p>Steps</p></center>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6" style="border: 1px solid black">
								<p>{{meal.ingredients}}
								</p>
							</div>
							<div class="col-md-6" style="border: 1px solid black">
								<p>{{meal.steps}}</p>
							</div>
						</div>
			<a href = "{{ url_for('food_edit', food_id=meal.id) }}">edit</a><br>
			<a href = "{{ url_for('food_delete', food_id=meal.id) }}">delete</a>
			<br>
			<br>
			{% endif %}
			{% endfor %}
			</div>
			<div class="col-md-6 ">
			{% for meal in food %}
			{% if meal.nationality == 'Israeli' %}
			{{ meal.name }}
                        <div class="row">
							<div class="col-md-6" style="border: 1px solid black">

								<center><p>Ingredients</p></center>
							</div>
							<div class="col-md-6" style="border: 1px solid black">
								<center><p>Steps</p></center>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6" style="border: 1px solid black">
								<p>{{meal.ingredients}}
								</p>
							</div>
							<div class="col-md-6" style="border: 1px solid black">
								<p>{{meal.steps}}</p>
							</div>
						</div>
			<a href = "{{ url_for('food_edit', food_id=meal.id) }}">edit</a><br>
			<a href = "{{ url_for('food_delete', food_id=meal.id) }}">delete</a>
			<br>
			<br>
			{% endif %}
			{% endfor %}
			</div>
	    </div>
	</div>


</div>
</body>
</html>
