<!DOCTYPE html>
<html>
<head>
	<title>Food</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script> 
</head>
<body>
<center><h1>FOOD</h1></center>
<div class="container">
	<div class="row">
		<div class=“col-md-12”><a href=""></a></div>
	</div>
	<div class="row">
		<div class="col-md-6"><h3 align="center"> Palestinian </h3></div> <br>
		<div class="col-md-6"><h3 align="center"> Israeli </h3></div> <br>
	</div>
		<div class="container">
			<div class="row">
				<div class="col-md-6">
			<form>
				<input type="text" name="comment" placeholder="Ingredients"> <br>
				<input type="text" name="comment" placeholder="Steps">
				<input type="submit" value="Submit" >
			</form>
				</div>
				<div class="col-md-6">
			<form>
				<input type="text" name="comment" placeholder="Ingredients"> <br>
				<input type="text" name="comment" placeholder="Steps">
				<input type="submit" value="Submit">
			</form>
				</div>
			</div>
		</div>
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<center><h4>Dolma(Dawali)</h4></center>
					<div class="container">
						<div class="row">
							<div class="col-md-3" style="border: 1px solid black">
			
								<center><p>Ingredients</p></center>
							</div>
							<div class="col-md-3" style="border: 1px solid black">
								<center><p>Steps</p></center>
							</div>
						</div>
						<div class="row">
							<div class="col-md-3" style="border: 1px solid black">
								<ul>
									<li> Grapevine </li>
									<li> Rice </li>
									<li> Ardei umpluți </li>
								</ul>
							</div>
							<div class="col-md-3" style="border: 1px solid black">
								<ol>
									<li>put the in the</li>
									<li>then do the to the </li>
									<li>and then the to the</li>
								</ol>
							</div>
						</div>
					</div>
			</div>
			<div class="col-md-6">
			<center><h4>Sufrito</h4></center>
					<div class="container">
						<div class="row">
							<div class="col-md-3" style="border: 1px solid black">
			
								<center><p>Ingredients</p></center>
							</div>
							<div class="col-md-3" style="border: 1px solid black">
								<center><p>Steps</p></center>
							</div>
						</div>
						<div class="row">
							<div class="col-md-3" style="border: 1px solid black">
								<ul>
									<li> Grapevine </li>
									<li> Rice </li>
									<li> Ardei umpluți </li>
								</ul>
							</div>
							<div class="col-md-3" style="border: 1px solid black">
								<ol>
									<li>put the in the</li>
									<li>then do the to the </li>
									<li>and then the to the</li>
								</ol>
							</div>
						</div>
					</div>
			</div>


</div>