<!DOCTYPE html>
<html>
<head>
	<title>Food</title>
	<link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script> 
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="food.css"> 
</head>
<body>
<a href="{{url_for('home_page')}}" class="btn btn-info" role="button">Back To Home page</a>
<div class="jumbotron text-center">

<center><h1>FOOD</h1>
	
	
			<form action="{{url_for('food_delete', food_id=item.id)}}" method="POST">
			    Are you sure you want to delete "{{ item.name }}"?
				<input type="submit" value="Yes" class="xoxo" >
				<a href="{{ url_for('food') }}">Cancel</a>
			</form>
		</center>

	
</div>
</body>
</html>
