<DOCTYPE! html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home_page.css') }}">
	<title>Home Page</title>
</head>
<body>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand button" href="#"><b>NBNC</b></a>
		</div>
			<ul class="nav navbar-nav button">
				<li class="active"><a href="{{url_for('home_page')}}">Home</a></li>
				<li><a href="{{url_for('news' , news_id = 1)}}">News</a></li>
				<li><a href="{{url_for('food')}}">Food</a></li>
				<li><a href="{{url_for('music')}}">Music</a></li>
			</ul>
		</div>
	</nav>
	<div class="container" >
		<h1 id="title" align="center">NBNC</h1>
	</div>
</body>




