<!DOCTYPE html>
<html>
<head>
	<title>Music</title>
	<link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script> 
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
<div class="jumbotron text-center">
<a href="{{url_for('home_page')}}" class="btn btn-info" role="button">Back To Home page</a>

<h1>MUSIC</h1>
<div class="container">
	<div class="row">
		<div class=“col-md-12”><a href=""></a></div>
	</div>
	<div class="row">
		<div class="col-md-6"><h3 align="center"> Palestinian </h3></div> <br>
		<div class="col-md-6"><h3 align="center"> Israeli </h3></div> <br>
	</div>

	<div class="container">
	<div class="row">
		<div class="col-md-6">
		<a href="https://www.youtube.com/watch?v=zwR5IpanDgo">Ya zareef eltool</a><br>
		<a href="https://www.youtube.com/watch?v=oXRxlRQWH8g">habat eltoot - wafeeq habib</a><br>
		<a href="http://www.youtube.com">song</a>

			<form>
				<input type="text" name="comment" placeholder="Song"> <br>
				<input type="text" name="comment" placeholder="Artist"> <br>
				<input type="text" name="comment" placeholder="Youtube link"><br><br>
				<input type="submit" value="Post" >
			</form>
		</div>
		<div class="col-md-6">
		<a href="https://www.youtube.com/watch?v=XUtrAfFhAfo"> Dabri Iti Yoter - Natan Goshen </a><br>
		<a href="https://www.youtube.com/watch?v=sMEyfEoKQr0"> Hachi Israeli- Hatikva 6</a> <br>
		<a href="https://www.youtube.com/watch?v=ODmdzlhLBnc">Achlom Lanetzach- Mofa Haarnavot Shel Doctor Kasper</a>
			<form>
				<input type="text" name="comment" placeholder="Song"> <br>
				<input type="text" name="comment" placeholder="Artist"> <br>
				<input type="text" name="comment" placeholder="Youtube link"><br><br>
				<input type="submit" value="Post">
			</form>
		</div>
		</div>
	</div>


</body>
</html>