<!DOCTYPE html>
<html>
<head>
	<title>Music</title>
	<link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script> 
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/music.css') }}">
</head>
<body>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand button" href="{{url_for('home_page')}}">NBNC</a>
		</div>
			<ul class="nav navbar-nav button">
				<li><a href="{{url_for('news' , news_id = 1)}}">News</a></li>
				<li><a href="{{url_for('food')}}">Food</a></li>
				<li class="active"><a href="{{url_for('music')}}">Music</a></li>
			</ul>
		</div>
	</nav>
<div class="jumbotron text-center">

<center><h1 id="music_category">MUSIC</h1> <br> <br> <br>


			<form action="{{url_for('music')}}" method="post">
				<input type="text" name="song" placeholder="Song" size="25"> <br> <br>
				<input type="text" name="artist" placeholder="Artist" size="25"> <br> <br>
				<input type="text" name="link" placeholder="Youtube link" size="25"><br> <br>
				<input type="radio" name="nationality" value="Israeli">Israeli
				<input type="radio" name="nationality" value="Palestinian">Palestinian <br>
				<input type="submit" value="Post" >
			</form></center>
		
		
	<div class="container">
		<div class="row">
			<div class="col-md-6 "><h3 align="center">Palestinian</h3></div> 
			<div class="col-md-6 "><h3 align="center">Israeli</h3></div>
		</div>
		<div class="row">
			<div class="col-md-6 ">
			{% for song in music %}
			{% if song.nationality == 'Palestinian' %}
			<a href = "{{ song.link }}">{{ song.song }} - {{ song.artist }}</a><br>
			{% endif %}
			{% endfor %}
			</div> 
			<div class="col-md-6 ">
			{% for song in music %}
			{% if song.nationality == 'Israeli' %}
			<a href = "{{ song.link }}">{{ song.song }} - {{ song.artist }}</a><br>
			{% endif %}
			{% endfor %}
			</div>
	    </div>
	</div>


</div>
</body>
</html>