<!DOCTYPE html>
<html lang="en">
<head>
	<title>News</title>
	<link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script> 
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script> 
	<link rel="stylesheet" type="text/css" href="news.css">
</head>
<body>
<div class="jumbotron text-center">
<a href="{{url_for('home_page')}}" class="btn btn-info" role="button">Back To Home page</a>
<h1>NEWS</h1>
<div class="container" >
	<div class="row">
		<div class=“col-md-12”> <a href=""> </a></div>
	</div>
	<div class="row">
		<div class="col-md-6"><h3 align="center"> Palestinians </h3></div>
		<div class="col-md-6"><h3 align="center"> Israelis </h3></div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<form action="">
				<input type="text" name="comment" placeholder="Your Comment">
				<br>
				<input type="text" name="name" placeholder="Your Name">
				<br>
				<input type="radio" name="nationality" value="palestinian"> Palestinian
				<br>
				<input type="radio" name="nationality" value="Israeli"> Isreali
				<br>
				<input type="submit" value="Post">
			</form>
		</div>
	</div>
</div>
</div>
</body>
</html>

	
